asgiref==3.8.1
cachetools==5.5.0
certifi==2024.7.4
charset-normalizer==3.3.2
Django==5.0.6
django-allauth==64.1.0
django-cors-headers==4.4.0
djangorestframework==3.15.2
google-api-core==2.19.1
google-api-python-client==2.142.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.63.2
httplib2==0.22.0
mysqlclient==2.2.4
oauthlib==3.2.2
pytz==2024.1
requests==2.32.3
tzdata==2024.1

shortuuid==1.0.13
jsons==1.6.3
cryptography==43.0.3
pycryptodome==3.20.0

