{% load static %}
<div class="container-center">
  <div class="col-9">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Add Candidate</h5>
      </div>
      <div class="card-body">
        <form id="candidate-data">
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="firstname" placeholder="Firstname" maxlength="100" required>
            </div>
            <div class="col-sm-5">
              <div class="input-group input-group-merge">
                <input type="text" class="form-control" id="lastname" placeholder="Lastname" maxlength="100" required>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <input type="email" id="email" class="form-control" maxlength="100" placeholder="Email" required>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Mobile No</label>
            <div class="col-sm-10">
              <input type="text" id="mobile" class="form-control phone-mask" maxlength="40" placeholder="Mobile no" required>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Source code</label>
            <div class="col-sm-3">
              <!-- <input type="text" id="source-code" class="form-control" placeholder="Code" minlength="5" maxlength="5" pattern="[^ ]*" required> -->
              <input type="text" id="source-code" class="form-control" placeholder="Code" minlength="5" maxlength="5" pattern="^[a-zA-Z0-9]*$" required>
              <div id="existing-sources" class="existing-sources"></div>
              <span style="color: red;display: none;" id="code-error"><small>* Code should be of 5 letters</small></span>
              <span style="color: red;display: none;" id="career-code-error"><small>* This code will be used for careers page</small></span>
            </div>
            <div class="col-sm-3" style="padding-left: 0px;">
              <label class="col-form-label p-clr" id="selected-source"></label>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Job Description</label>
            <div class="col-sm-10">
              <select class="form-select" id="jd" required>
                <option selected disabled></option>
                {% for jd in jds_data %}
                  <option value="{{ jd.id }}">{{ jd.title }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Begin from</label>
            <div class="col-sm-10">
              <select class="form-select" id="begin-from" required>
                <option selected disabled></option>
              </select>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-sm-10 text-end">
              <button id="save-data" type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#jd').select2({
      placeholder: "Select Job Role",
      allowClear: true
    });
  });
  
  var sourcesData = JSON.parse('{{ sources_data|escapejs }}');
  
</script>

<script src="{% static 'js/add_candidate.js' %}"></script>

<style>

  .existing-sources {
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: #fff;
    z-index: 1000;
    width: 20%;
    display: none; /* Hide by default */
}

.existing-sources div {
    padding: 8px;
    cursor: pointer;
}

.existing-sources div:hover {
    background: #f0f0f0;
}


</style>