{% load static %}

<div class="container-center">
    <div class="col-9">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between" style="align-self:center;">
                <h5 class="mb-0">Branding</h5>
            </div>
            <div class="card-body">
                <form id="update_email_template_form">
                   
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">CSS</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-merge">
                                <textarea id="email_body" rows="6" class="form-control" required> {{emailTemps.email_body}} </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Social Links</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-merge">
                                <textarea id="email_body" rows="6" class="form-control" required> {{emailTemps.email_body}} </textarea>
                            </div>
                        </div>
                    </div>

                    

                    <div class="form-group row">
                        <label class="col-xl-3 col-form-label" for="logo">Logo</label>
                        <div class="col-xl-4 drop-zone">
                            <label class="upload-label" for="logo">
                                Upload Logo <br />
                                <i class="fa fa-2x fa-image"></i>
                                <input type="file" id="logo" onchange="loadFile(event)" style="display: none;" />
                                <br />
                                <p id="output"></p>
                            </label>
                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <div class="text-end">
                            <button type="reset" id="clr_data" onclick="clr_data()"; class="btn btn-danger btn_width">Cancel</button>
                            <button  type="submit" class="btn btn-primary" id="save_template" onclick="submit_form('{{template_data.template_id}}','savetemplate')">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
