{% load static %}

<div class="container-center">
    <div class="col-9">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between" style="align-self:center;">
                <h5 class="mb-0">Branding</h5>
            </div>
            <div class="card-body">
                <form id="brand_form">
                   
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label text-end">CSS</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-merge">
                                <textarea id="css_content" rows="7" class="form-control" name="{{companyBranding.id}}" required> {{companyBranding.content}} </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label text-end">Social Links</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-merge">
                                <textarea id="social_links" rows="5" class="form-control" required> {{companyBranding.social_links}} </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xl-2 col-form-label text-end" for="logo">Logo</label>
                        <div class="col-xl-4 drop-zone mt-2">
                            <label class="upload-label cursor-pointer" for="logo" style="width: 100%; height: 100%;">
                                Upload Logo <br />
                                <i class="fa fa-2x fa-image mt-5"></i>
                                <input type="file" id="logo" onchange="loadFile(event)" style="display: none;" accept="image/*" />
                                <br />
                                <p id="output"></p>
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label text-end">Status</label>
                        <div class="form-check form-check-inline ml-3" style="width: 140px;align-content: space-evenly;margin-left: 15px;">
                            <input class="form-check-input" id="status_a" type="radio" name="status" value="A" {% if companyBranding.status == "A" %}checked{% endif %}>
                            <label class="form-check-label" for="status_a">Active</label>
                        </div>
                        <div class="form-check form-check-inline ml-5" style="width: 140px;align-content: space-evenly;">
                            <input class="form-check-input" id="status_e" type="radio" name="status" value="I" {% if companyBranding.status != "A" %}checked{% endif %}>
                            <label class="form-check-label" for="status_e">Inactive</label>
                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <div class="text-end">
                            <button type="reset" class="btn btn-danger btn_width" style="margin-right: 10px;">Cancel</button>
                            <button  type="submit" class="btn btn-primary" id="save_branding">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#output").html('<img id="img_output" style="width:85%;height:auto" />');
        var image = document.getElementById('img_output');
        image.src = "{{ companyBranding.logourl }}";
    });


    function loadFile(event) {
        $("#output").html('<img id="img_output" style="width:85%;height:auto" />');
        var image = document.getElementById('img_output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
<script src="{% static 'js/branding.js' %}"></script>
