{% load static %}

<div class="candidates-loader-wrapper" id="candidates-loader" style="background-color: rgba(255, 255, 255, 1);">
    <div class="candidates-loader">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="#274699" d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z"/></svg>
    </div>
</div>

<div class="card">
    <div class="card-title-table">
        <h4 class="card-header">Candidates</h4>
        <h4 class="header-btn">
            <button class="btn btn-primary" type="button" onclick="window.location.href='/upload-candidates'"><i class="fas fa-file-upload"></i>&ensp; 
                Upload
            </button>
            <button class="btn btn-primary" onclick="window.location.href='/add-candidate'" type="button"><i class="fas fa-user-plus"></i>&ensp; 
                New Candidate
            </button>
        </h4>
    </div>
    <div class="filter-sec">
        <div>
            <button id="delete-btn" onclick="deleteSelectedCandidates()" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>&nbsp; Delete Selected
            </button>
            <!-- <button id="cancel-btn" onclick="resetDeleteOption()" class="btn btn-secondary btn-sm">
                <i class="fas fa-times"></i> &nbsp; Cancel
            </button> -->
        </div>
    </div>
    <div class="table-responsive text-nowrap table-cls">
        <table class="table table-hover" id="candidates-table">
            <thead>
                <tr>
                    <th id="del-header"> <strong></strong></th>
                    <th> <strong> Candidate ID </strong></th>
                    <th> <strong> Job Description </strong></th>
                    <th> <strong> Name </strong></th>
                    <!-- <th> <strong> Email </strong></th> -->
                    <th> <strong> Status </strong></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for candidate in candidates_data %}
                <tr onclick="window.location.href='/candidate-data/{{candidate.id}}'">
                    <td onclick="event.stopPropagation()" class="del-cheks">
                        <div >
                            <input class="form-check-input cd-check" type="checkbox" value="{{candidate.id}}">
                        </div>
                    </td>
                    <td>{{ candidate.candidate_id }}</td>
                    <td>{{ candidate.jd_title }}</td>
                    <td>{{ candidate.firstname }} {{ candidate.lastname }}</td>
                    <!-- <td>{{ candidate.email }}</td> -->
                    <td>{{ candidate.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<style>
    tbody tr:hover {
        cursor: pointer;
    }
</style>

<script>
    $(document).ready(function() {
        $.noConflict();
        $('#candidates-table').DataTable({
            "pageLength": 50,      // Forces 50 rows
            "lengthMenu": [10, 25, 50 , 100],
            "order": [],
            "ordering": false,
            language: { search: "",searchPlaceholder: "Search..." } ,
            pagingType: 'simple_numbers'
        });
    });
</script>

<script src="{% static 'js/candidates.js' %}"></script>
