{% load static %}

<div class="card">
    <div class="card-title-table">
        <h4 class="card-header">Candidates</h4>
        <h4 class="header-btn">
            <button class="btn btn-primary" onclick="window.location.href='/add-candidate'" type="button"><i class="fa fa-plus"></i>&ensp; 
                New Candidate</button>
        </h4>
    </div>
    <div class="table-responsive text-nowrap table-cls">
        <table class="table table-hover" id="candidates-table">
            <thead>
                <tr >
                    <th> <strong> Candidate ID </strong></th>
                    <th> <strong> Name </strong></th>
                    <th> <strong> Email </strong></th>
                    <th> <strong> Status </strong></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for candidate in candidates_data %}
                <tr onclick="window.location.href='/candidate-data/{{candidate.id}}'">
                    <td>{{ candidate.candidate_id }}</td>
                    <td>{{ candidate.firstname }} {{ candidate.lastname }}</td>
                    <td>{{ candidate.email }}</td>
                    <td>{{ candidate.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<style>
    tbody tr:hover {
        cursor: pointer;
    }
</style>

<script>
    $(document).ready(function() {
        $.noConflict();
        $('#candidates-table').DataTable({
            "order": [],
            "ordering": false,
            language: { search: "",searchPlaceholder: "Search..." } ,
            pagingType: 'simple_numbers'
        });
    });
</script>


