{% load static %}

<body>
    <!-- web streams API polyfill to support Firefox -->
    <script src="https://unpkg.com/@mattiasbuelens/web-streams-polyfill/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <!-- ../libs/DBML.js to fix video seeking issues -->
    <script src="https://www.webrtc-experiment.com/EBML.js"></script>

    <!-- for Edge/FF/Chrome/Opera/etc. getUserMedia support -->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="https://www.webrtc-experiment.com/DetectRTC.js"> </script>
  
    <!-- video element -->
    <!--    <link href="https://www.webrtc-experiment.com/getHTMLMediaElement.css" rel="stylesheet">-->
      <script src="https://www.webrtc-experiment.com/getHTMLMediaElement.js"></script>

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg " id="meeting_main">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
      navbar-scroll="true" style="margin-top: -1%; padding-top: 0% !important;">
      <div class="container-fluid py-1 px-3">
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- End Navbar -->
    <div class="container-fluid py-2">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="interview-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-3 pb-3">
                <div class="text-white text-capitalize ps-3 page_heading hdng" style="display: flex; justify-content: space-evenly; align-items: center;">
                  <!-- <span>Srikanth G</span>
                  <span style="font-size: 15px;">Python Fresher Questionnaire</span>
                  <span style="font-size: 15px;" id="time_lapsed"></span> -->
                  <span>{{candidate_data.name}}</span>
                  <span style="font-size: 15px;">{{candidate_data.int_paper}}</span>
                  <span style="font-size: 15px;" id="time_lapsed"></span>
                </div>
              </div>
            </div>
            <div class="card-body pb-2">
              <div class="row" style="flex-flow: row;padding: 1%;padding-top: 0%;padding-bottom: 0.1%;" id="ini_div">
                
                <div style="height: 522px;width: 60%;border: solid 1px #d2d6da; border-radius: 6px; border-top-left-radius: 0px; border-bottom-left-radius: 0px;">
                    <div>
                        <p id="reg_code" hidden>{{candidate_data.code}}_{{ candidate_data.schd_id }}</p>

                        <div class="grid-container pb-2">
                        <div class="grid-item cursor-pointer sec_selected" name="ins" id="ins_sec" onclick="show_ins();" style="align-items: center;">
                            <h5 style="font-size: 17px; font-weight: 800;">Job Description</h5>
                        </div>
                        <div class="grid-item cursor-pointer" name="secs" id="verif_sec"
                            onclick="showCandidateInfo();" style="align-items: center;">
                            <h5 style="font-size: 17px; font-weight: 800;">Candidate Info</h5>
                        </div>
                        <div class="grid-item cursor-pointer" name="secs" id="test_data"
                            onclick="showTestData();" style="align-items: center;">
                            <h5 style="font-size: 17px; font-weight: 800;">Tests Data</h5>
                        </div>
                        {% for section in interview_sections %}
                        <span name="vs" >
                          <div class="grid-item cursor-pointer" name="secs" id="{{ section.id }}"
                          onclick="show_section(this.id);" style="align-items: center;">
                          <h5 style="font-size: 17px; font-weight: 500;text-transform: capitalize; font-weight: 800;">{{ section.name }}</h5>
                          </div>
                        </span>
                        {% endfor %}
                        </div>
                    </div>

                  <!-- Started container -->

                  <!-- <h5 class="ins">Candidate Info</h5> -->
                  <div class="ins" style="overflow: auto; position: relative; height: 72%; padding:1%">
                    <div class="qol">
                      <table style="width:100%;">
                        <tr>
                          <th>
                            <h6 style="font-weight: 800;">Job Title</h6>
                          </th>
                          <th>
                            <h6>:</h6>
                          </th>
                          <th style="width:80% !important;">
                            <h6 class="clear-text">{{jd_data.jd_title}}</h6>
                          </th>
                        </tr>
                        <tr>
                          <th>
                            <h6 style="font-weight: 800;">Role</h6>
                          </th>
                          <th>
                            <h6>:</h6>
                          </th>
                          <th style="width:80% !important;">
                            <h6 class="clear-text">{{jd_data.role}}</h6>
                          </th>
                        </tr>
                        <tr>
                          <th>
                            <h6 style="font-weight: 800;">Work Location</h6>
                          </th>
                          <th>
                            <h6>:</h6>
                          </th>
                          <th style="width:80% !important;">
                            <h6 class="clear-text">{{jd_data.location}}</h6>
                          </th>
                        </tr>
                        <tr>
                          <th>
                            <h6 style="font-weight: 800;">Skills</h6>
                          </th>
                          <th>
                            <h6>:</h6>
                          </th>
                          <th>
                            <h6 class="clear-text">{{jd_data.skills}}</h6>
                          </th>
                        </tr>
                        <tr>
                          <th>
                            <h6 style="font-weight: 800;">Any Special Notes</h6>
                          </th>
                          <th>
                            <h6>:</h6>
                          </th>
                          <th style="width:80% !important;">
                            <h6 class="clear-text">{% if jd_data.notes %} {{ jd_data.notes }} {% else %} N/A {% endif %} </h6>
                          </th>
                        </tr>
                        <tr>
                          <th>
                            <h6 style="font-weight: 800;">Interview Instructions :</h6>
                          </th>
                          <th>
                            <h6>:</h6>
                          </th>
                          <th style="width:80% !important;">
                            <h6 class="clear-text">{% if jd_data.instructions %} {{ jd_data.instructions }} {% else %} N/A {% endif %} </h6>
                          </th>
                        </tr>


                      </table>
                      
                    </div>
                  </div>

                  <div class="apl_sec" style="overflow: auto; position: relative; padding:1%;height: 75%;" hidden>
                    <div class="qol">
                      <table style="width:100%;">
                        <tr>
                          <th>
                            <h6 style="font-weight: 800;">Candidate ID</h6>
                          </th>
                          <th>
                            <h6>:</h6>
                          </th>
                          <th style="width:73% !important;">
                            <h6>{{candidate_data.code}}</h6>
                          </th>
                        </tr>
                        <tr>
                          <th>
                            <h6 style="font-weight: 800;">Name</h6>
                          </th>
                          <th>
                            <h6>:</h6>
                          </th>
                          <th style="width:73% !important;">
                            <h6>{{candidate_data.name}}</h6>
                          </th>
                        </tr>
                  
                        <tr>
                          <th>
                            <h6 style="font-weight: 800;">Mobile Number</h6>
                          </th>
                          <th>
                            <h6>:</h6>
                          </th>
                          <th style="width:73% !important;">
                            <h6>{{candidate_data.mobile}}</h6>
                          </th>
                        </tr>
                        <tr>
                          <th>
                            <h6 style="font-weight: 800;">Email Id</h6>
                          </th>
                          <th>
                            <h6>:</h6>
                          </th>
                          <th style="width:73% !important;">
                            <h6>{{candidate_data.email}}</h6>
                          </th>
                        </tr>
                        <tr>
                          <th>
                            <h6 style="font-weight: 800;">Questionnaire</h6>
                          </th>
                          <th>
                            <h6>:</h6>
                          </th>
                          <th style="width:73% !important;">
                            <h6>{{candidate_data.int_paper}}</h6>
                          </th>
                        </tr>
                      </table>
                      {% for screening in screening_data %}
                        <div class="mb-2">
                          <div class="screeing-bar">
                            <span>{{ screening.paper_title }}  ({{ screening.scored_marks }}/{{ screening.paper_marks }})</span>
                            <span style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#screening_{{ screening.paper_id }}" aria-expanded="false" aria-controls="collapseExample"><u>view details</u></span>
                          </div>
                          <div class="collapse" id="screening_{{ screening.paper_id }}">
                            <div class="d-grid d-sm-flex p-3 border">
                              <table class="table table-bordered mb-0">
                                <thead>
                                  <tr>
                                    <th><strong> #</strong></th>
                                    <th><strong>Question</strong></th>
                                    <th><strong>Response</strong></th>
                                    <th><strong>Marks</strong></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for question in screening.paper_questions %}
                                  <tr>
                                    <td>{{ question.sno }}</td>
                                    <td>{{ question.question }}</td>
                                    <td>{{ question.response }}</td>
                                    <td>{{ question.marks }}</td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                      {% for coding in coding_data %}
                        <div class="screeing-bar">
                          <span>{{ coding.paper_title }} ({{ coding.scored_marks }}/{{ coding.paper_marks }})</span>
                          <span style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#coding_{{ coding.paper_id }}" aria-expanded="false" aria-controls="codingExample"><u>view details</u></span>
                        </div>
                        <div class="collapse" id="coding_{{ coding.paper_id }}">
                          <div class="d-grid d-sm-flex p-3 border" style="flex-direction: column;">
                            {% for question in coding.paper_questions %}
                              <p>{{ question.sno }}. {{ question.question }}</p>
                              <p>Marks : {{ question.marks }}</p>
                              <textarea class="form-control" rows="23" disabled="">{{ question.response }}</textarea>
                            {% endfor %}
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                    
                  </div>

                  <div class="test_sec" style="overflow: auto; position: relative; padding:1%;height: 75%;" hidden>
                    <div class="qol">
                      {% if not screening_data and not coding_data %}
                        <p class="no-test-display">No screening or coding test found for this candidate</p>
                      {% else %}
                        {% for screening in screening_data %}
                          <div class="mb-2">
                            <div class="screeing-bar">
                              <span>{{ screening.paper_title }}  ({{ screening.scored_marks }}/{{ screening.paper_marks }})</span>
                              <span style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#screening_{{ screening.paper_id }}" aria-expanded="false" aria-controls="collapseExample"><u>view details</u></span>
                            </div>
                            <div class="collapse" id="screening_{{ screening.paper_id }}">
                              <div class="d-grid d-sm-flex p-3 border">
                                <table class="table table-bordered mb-0">
                                  <thead>
                                    <tr>
                                      <th><strong> #</strong></th>
                                      <th><strong>Question</strong></th>
                                      <th><strong>Response</strong></th>
                                      <th><strong>Marks</strong></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for question in screening.paper_questions %}
                                    <tr>
                                      <td>{{ question.sno }}</td>
                                      <td>{{ question.question }}</td>
                                      <td>{{ question.response }}</td>
                                      <td>{{ question.marks }}</td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                        {% for coding in coding_data %}
                          <div class="screeing-bar">
                            <span>{{ coding.paper_title }} ({{ coding.scored_marks }}/{{ coding.paper_marks }})</span>
                            <span style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#coding_{{ coding.paper_id }}" aria-expanded="false" aria-controls="codingExample"><u>view details</u></span>
                          </div>
                          <div class="collapse" id="coding_{{ coding.paper_id }}">
                            <div class="d-grid d-sm-flex p-3 border" style="flex-direction: column;">
                              {% for question in coding.paper_questions %}
                                <p>{{ question.sno }}. {{ question.question }}</p>
                                <p>Marks : {{ question.marks }}</p>
                                <textarea class="form-control" rows="23" disabled="">{{ question.response }}</textarea>
                              {% endfor %}
                            </div>
                          </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                    
                  </div>

                  <div hidden id="sec" class="sec_q" style="position: relative; height: 75%; padding:1%">

                    {% for question in sections_questions_lst %}

                    <h4 hidden class="sec_{{question.section_id}}" style="font-size: 17px; font-weight: 800;text-transform: capitalize;">{{question.section_name}}</h4>

                    <div hidden class="sec_{{question.section_id}}"
                      style="overflow: auto; position: relative; height: 97%; padding:1%">
                      <ol class="qol">
                        {% for q in question.section_questions %}
                        <div class="form-check mt-1" style="width:80%; font-size: 16px;">
                          <li class="ql mb-3"><span> {{ q.qus }} </span><br>
                            <span for="qr_{{ q.qus_id }}">Low(0)</span>
                            <input style="padding: 0px; width: 62%;" type="range" min="0" max="5" step="1" value="0"
                              name="q3" id="qr_{{ q.qus_id }}"
                              onchange="answer({ 'question_id' : {{ q.qus_id }}, 'call_shud_id' : {{ candidate_data.schd_id }}, 'inpt_id' : this.id , 'candid_id' : {{ candidate_data.id }}} );">
                            <span for="qr_{{ q.qus_id }}" >High(5)</span>
                            <div style="padding-top: 10px;">Rating :<span id="qs_{{ q.qus_id }}">0</span></div>
                          </li>
                        </div>

                        {% endfor %}

                        {% if 'Y' == question.ask_remark %}
                            <tbody>
                              <tr>
                                <td>
                                  <span style="width: 20%;font-size: 16px;">Interview Remarks</span>
                                </td>
                                <td>
                                  :
                                </td>
                                <td>
                                  <div class="input-group input-group-outline mb-2">
                                          <textarea class="form-control" rows="3" cols="50" style="border: 1px solid #d6d5d5; padding:1%;" id="interviewRemarkNote" name="{{applicant_details.call_sch_id}}" onchange="remarks()"></textarea>
                                      </div>
                                </td>
                              </tr>
                            </tbody>
                        {% else %}
                            <span></span>
                        {% endif %}

                      </ol>
                    </div>
                    
                    {% endfor %}
                    

                  </div>

                </div>
                <div
                style="padding: 0%;height: 522px;width: 40%;border: solid 1px #d2d6da;overflow:scroll;overflow-x:hidden;overflow-y:auto;border-radius: 6px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                  <iframe style="width:100% !important; " allow="autoplay;camera;microphone;"
                    src="https://onecall.ae/vn/?room={{candidate_data.meetinglink}}&wc&q=2"></iframe>

                </div>
              </div>
              <div style="width:50%">
                
                <div id="end_div" hidden>
                  <span id="ustat" hidden></span>
                  <label id="file_uploaded" hidden><i class="fas fa-check-circle" style="color:green"></i> &ensp;File
                    Uploaded</label>

                  <div id="upload_loadingp">
                    <label id="fupload_label">Please wait while the file has been uploading.....</label>
                    <div id="loadingProgressG">
                      <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                  </div>
                  <div id="alertMessage"></div>
                  <br>
                  <h6>Your Decision on Hiring the Candidate</h6>
                    <div class="toogler_div">
                      <label class="n_hire">Not Hire</label>
                      <label class="toggle-switch">
                              <input type="checkbox" id="toggle" onchange="fill_data();"/>
                          <span class="slider"></span>
                      </label>
                      <label class="hire">Hire</label>
                  </div><br>
                  <h6>Remarks / Notes</h6>
                            <textarea class="form-control" id="notes" rows="12" maxlength="1000" name="question" onkeyup="fill_data();"
                                style="height: 100px;" required>{{feedback_data.notes}}</textarea>

                </div>

              </div>
              <button id="call_flag" hidden>Start Call</button>
              <button class="btn bg-gradient-dark mb-0 js-btn-next cust-btn-color" style="width:140px;margin-left: 87%; background-color: var(--primary-color); color: white; font-weight: 500;"
                id="done_btn">End Interview</button>
              <button class="btn bg-gradient-dark mb-0 js-btn-next cust-btn-color mb-3"
                style="width:140px;float:right;margin-left: 13px; background-color: var(--primary-color); color: white; font-weight: 500;" id="submit_btn" disabled hidden>OK</button>
            </div>
          </div>

        </div>

      </div>

    </div>

  </main>

  <script src="{% static 'js/candidate_meeting.js' %}"></script>
  <script src="{% static 'js/screen_recorder.js' %}"></script>
  <script>

    var candid__id = "{{ candidate_data.id }}"
    var candid_call_shed_id = "{{ candidate_data.schd_id }}"
    var library_id = "{{ cdn_data.libraryid }}"
    var auth_key = "{{ cdn_data.auth_key }}"

  </script>
  <style>
    .clear-text{
      letter-spacing: 0.2px;
      word-spacing: 0.8px;
    }

    .tab-content {
      display: none;
    }

    .tab-content.active {
      display: block;
    }

    iframe {
      border: 0;
      margin: 0;
      padding: 0;
      display: block;
      width: 100%;
      height: 520px;
    }

    #viewlink {
      width: 400px;
    }

    #container {
      display: block;
      padding: 0px;
    }

    input {
      padding: 5px;
      margin: 5px;
    }

    button {
      padding: 5px;
      margin: 5px;
    }

  </style>
  <style>
    .ml_input {
      width: 132.3%;
      margin-left: 1.5%;
      padding: 4px;
      border: 1px solid grey;
    }

    .grid-container {
      width: 100%;
      position: relative;
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: #ffffff;
    }

    .grid-item {
      border: 0.5px solid rgba(236, 236, 236, 0.8);
      padding: 5px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
    }

    .grid-item h5 {
      margin-bottom: 0;
    }

    .app_info {
      width: 75% !important;
      border: 1px solid gray !important;
      height: 38px !important;
      padding: 5px;
    }

    .sl_input {
      width: 133% !important;
      border: 1px solid gray !important;
      height: 38px !important;
      padding: 5px;
    }

    ol>li {
      counter-increment: item;
    }

    ol>li:first-child {
      counter-reset: item;
    }

    ol ol>li {
      display: block;
    }

    ol ol>li:before {
      content: counters(item, ".") ". ";
      margin-left: -20px;
    }

    .sec_selected {
      background-color: var(--light-primary-color);
    }

    .sec_selected h5{
      color: var(--primary-color);
    }

    .verify_failed {
      padding: 3px;
      font-size: 25px;
      color: red;
    }

    ::placeholder {
      text-align: left;
      opacity: 1;
      /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      text-align: left;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      text-align: left;
    }

    .green_tick {
      color: green;
      font-size: 20px;
      margin-top: 1.5%;
    }

    .red_wrong {
      color: red;
      font-size: 28px;
    }


    #loadingProgressG {
      width: 130%;
      height: 5px;
      overflow: hidden;
      background-image: linear-gradient(300deg, var(--primary-color) 0%, var(--primary-color) 100%);
      margin: auto;
      border-radius: 10px;
      -o-border-radius: 10px;
      -ms-border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
    }

    .loadingProgressG {
      background-color: rgb(255, 255, 255);
      margin-top: 0;
      margin-left: -130%;
      animation-name: bounce_loadingProgressG;
      -o-animation-name: bounce_loadingProgressG;
      -ms-animation-name: bounce_loadingProgressG;
      -webkit-animation-name: bounce_loadingProgressG;
      -moz-animation-name: bounce_loadingProgressG;
      animation-duration: 3.5s;
      -o-animation-duration: 3.5s;
      -ms-animation-duration: 3.5s;
      -webkit-animation-duration: 3.5s;
      -moz-animation-duration: 3.5s;
      animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      animation-timing-function: linear;
      -o-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      width: 130%;
      height: 5px;
    }



    @keyframes bounce_loadingProgressG {
      0% {
        margin-left: -130%;
      }

      100% {
        margin-left: 130%;
      }
    }

    @-o-keyframes bounce_loadingProgressG {
      0% {
        margin-left: -130%;
      }

      100% {
        margin-left: 130%;
      }
    }

    @-ms-keyframes bounce_loadingProgressG {
      0% {
        margin-left: -130%;
      }

      100% {
        margin-left: 130%;
      }
    }

    @-webkit-keyframes bounce_loadingProgressG {
      0% {
        margin-left: -130%;
      }

      100% {
        margin-left: 130%;
      }
    }

    @-moz-keyframes bounce_loadingProgressG {
      0% {
        margin-left: -130%;
      }

      100% {
        margin-left: 130%;
      }
    }


    input[type='range']{ accent-color: #707070; }
  </style>
  
  <style>
    .toogler_div {
      width: 230px;
    }

    .n_hire {
      float: left;
      padding-right: 13px;
      padding-top: 5px;
      font-size: medium;
    }

    .hire {
      float: right;
      padding-top: 5px;
      font-size: medium;
    }

    .toggle-switch {
        position: relative;
        display: inline-block;
        width: 8em;
        height: 2.4em;
    }

    .toggle-switch input {
        display: none;
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        border-radius: 1.2em;
        cursor: pointer;
        transition: 0.4s;
        padding: 0.3em;
        box-sizing: border-box;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 1.8em;
        width: 1.8em;
        left: 0.3em;
        bottom: 0.3em;
        background-color: white;
        border-radius: 50%;
        transition: 0.4s;
    }

    input:checked+.slider {
        background-color: var(--primary-color);
    }

    input:checked+.slider:before {
        transform: translateX(5.5em);
    }

    .no-test-display {
      text-align: center;
      font-size: 1rem;
      margin-top: 2rem;
    }
</style>


<style>
    #layout-menu {
        display: none;
    }
    .layout-page {
        padding-left: 0px !important;
    }
</style>

</body>