{% load static %}
<div class="container-center">
  <div class="col-10">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0 p-clr" style="font-weight: 600;">Candidate Info</h5>
        <div style="text-align: right;font-size: 1.3rem;cursor: pointer;" data-bs-toggle="tooltip" id="editIcon" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="" data-bs-original-title="<span>Edit</span>">
          <i class="fas fa-edit p-clr"></i>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive text-nowrap">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td style="width: 25%;"> <strong> Candidate ID </strong></td>
                <td>{{ candidate_info.c_code }}</td>
              </tr>
              <tr>
                <td> <strong> Name </strong></td>
                <td>{{ candidate_info.firstname }} {{ candidate_info.lastname }}</td>
              </tr>
              <tr>
                <td> <strong> Email </strong></td>
                <td>{{ candidate_info.email }}</td>
              </tr>
              <tr>
                <td> <strong> Mobile </strong></td>
                <td>{{ candidate_info.mobile }}</td>
              </tr>
              <tr>
                <td> <strong> Job Description </strong></td>
                <td> {{ candidate_info.jd }}</td>
              </tr>
              <tr>
                <td> <strong> Source </strong></td>
                <td> {{ candidate_info.source_label }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mt-3 d-flex justify-content-end">
          <button class="btn btn-danger" onclick="deleteCandidate('{{candidate_info.cid}}')"><i class="fas fa-trash-alt"></i> &nbsp; Delete</button> &nbsp;
          <button class="btn btn-primary" onclick="getReportData('{{ candidate_info.c_code }}')"><i class="fas fa-file-download"></i> &nbsp;Download Candidate Report</button>
        </div>
        <hr>
        <div>
          <h5 class="p-clr" style="font-weight: 600;">Workflow</h5>
          <div class="card-container">
            {% for registration in registrations_data %}
            <div class="card flow-card">
              <label class="s-clr mb-1">{{ registration.type_title }}</label>
              <b><label class="p-clr mb-1">{{ registration.paper_title }}</label></b>
              {% if registration.paper_type == "I"%}
                {%  if registration.call_status == "N"  %}
                  <button class="btn btn-primary" onclick="window.location.href='/interview-schedule/{{ registration.candidateid }}'">Schedule Interview</button>
                {% elif registration.call_status == "S" %}
                  <label>Interview scheduled</label>
                  <label>Scheduled Time : {{ registration.scheduled_time }}</label>
                  <label>Interviewer : {{ registration.interviewer_name }}</label>
                  <div class="mt-2 d-flex justify-content-start">
                    <button class="btn btn-primary btn-sm" onclick="window.location.href='/interview-schedule/{{ registration.candidateid }}?status=R&Page=C'">Reschedule</button>
                  </div>
                {% elif registration.call_status == "C" %}
                  <label>Completed on : {{ registration.call_completion_date }}</label>
                  <label>Interviewer : {{ registration.interviewer_name }}</label>
                  <label>Interview is completed</label>
                {% endif %}
                {% if registration.reg_status == "O" %}
                  <label>Offer Letter is Released</label>
                {% elif registration.reg_status == "H" %}
                  <label>Offer is on Hold</label>
                {% elif registration.reg_status == "R" %}
                  <label>Rejected</label>
                {% endif %}
              {% else %}
              {% if registration.reg_status == "P" %}
                  
                  <label style="color: green;">Promote >= {{ registration.pass_percentage }}%</label>
                  {% if registration.hold_check == "Y" %}
                  <label>Hold {{ registration.hold_percentage }}% - {{ registration.hold_range }}%</label>
                  <label style="color: red;">Fail < {{ registration.hold_percentage }}%</label>
                  {% else %}
                  <label style="color: red;">Fail < {{ registration.pass_percentage }}%</label>
                  {% endif %}
                  <label>Scored :  {{ registration.score_percentage }}%</label>
                  <hr style="margin: 10px 0px;">
                  <label>Status : <label style="color: green;">Promoted</label>  &nbsp;<i class="fas fa-check" style="color: #008000;"></i></label>
                  <label>Completed on : {{ registration.completion_date }}</label>
                {% elif registration.reg_status == "F" %}
                  <label style="color: green;">Promote >= {{ registration.pass_percentage }}%</label>
                  {% if registration.hold_check == "Y" %}
                  <label>Hold {{ registration.hold_percentage }}% - {{ registration.hold_range }}%</label>
                  <label style="color: red;">Fail < {{ registration.hold_percentage }}%</label>
                  {% else %}
                  <label style="color: red;">Fail < {{ registration.pass_percentage }}%</label>
                  {% endif %}
                  <label>Scored :  {{ registration.score_percentage }}%</label>
                  <hr style="margin: 10px 0px;">
                  <label>Status : <label style="color: red;">Failed</label>  &nbsp;<i class="fas fa-times" style="color: red;"></i></label>
                  <label>Completed on : {{ registration.completion_date }}</label>
                {% elif registration.reg_status == "E" %}
                  <label>Under Evaluation</label>
                {% elif registration.reg_status == "I" %}
                  <label>Initiated</label>
                {% elif registration.reg_status == "H" %}
                  <label style="color: green;">Promote >= {{ registration.pass_percentage }}%</label>
                  {% if registration.hold_check == "Y" %}
                  <label>Hold {{ registration.hold_percentage }}% - {{ registration.hold_range }}%</label>
                  <label style="color: red;">Fail < {{ registration.hold_percentage }}%</label>
                  {% else %}
                  <label style="color: red;">Fail < {{ registration.pass_percentage }}%</label>
                  {% endif %}
                  <label>Scored :  {{ registration.score_percentage }}%</label>
                  <hr style="margin: 10px 0px;">
                  <label>Candidate is on Hold</label>
                  <select class="form-select" id="regid-{{ registration.reg_id }}" required>
                    <option selected disabled></option>
                    <option value="P">Promote next round</option>
                    <option value="R">Reject</option>
                  </select>
                  <button class="btn btn-primary mt-2 update-btn" onclick="updateCandidateWorkflow('{{ registration.reg_id }}')">Send</button>
                {% endif %}
              {% endif %}
            </div>
            {% if not forloop.last %}
            <div class="line"></div>
            {% endif %}
            {% endfor %}
          </div>
          {% if candidate_info.notify_check == "Y" %}
          <br>
          <h5 class="p-clr" style="font-weight: 600;margin-top: 10px;">Interview Feedbacks</h5>
          <div class="table-responsive text-nowrap">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Decision</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                {% for feedback in feedbacks_data %}
                  <tr>
                    <td>{{ feedback.name }}</td>
                    <td>{{ feedback.decision }}  {% if feedback.decision == "Hire" %} <i class="fas fa-thumbs-up" style="color: green;"></i>&nbsp; {% elif feedback.decision == "Not Hire" %} <i class="fas fa-thumbs-up fa-flip-vertical" style="color: red;"></i> {% else %} {% endif %}</td>
                    <td>{{ feedback.notes }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <form id="notify-candidate">
            <div class="col-9">
              <div class="mt-3">
                <div class="row mb-3">
                  <label class="col-form-label">Notify Candidate</label>
                  <div class="col-sm-4">
                    <select class="form-select" id="notify" required>
                      <option selected="" disabled></option>
                      <option value="O">Selected</option>
                      <option value="H">Hold</option>
                      <option value="R">Rejected</option>
                    </select>
                  </div>
                  <div class="col-sm-4">
                    <button class="btn btn-primary" id="notify" style="width: 200px;">Send Notification</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Edit Candidate</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="candidate-update-form">
        <div class="modal-body">
          <div class="row g-2">
            <div class="col mb-3">
              <label class="form-label">First name</label>
              <input type="text" id="c-firstname" class="form-control" placeholder="Firstname" maxlength="100" value="{{ candidate_info.firstname }}" required>
            </div>
            <div class="col mb-0">
              <label class="form-label">Last name</label>
              <input type="text" id="c-lastname" class="form-control" placeholder="Lastname" maxlength="100" value="{{ candidate_info.lastname }}" required>
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label class="form-label">Mobile</label>
              <input type="text" id="c-mobile" class="form-control" placeholder="Mobile" maxlength="40" value="{{ candidate_info.mobile }}" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="update-candidate">Update changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  candidate_code = '{{ candidate_info.c_code }}'
</script>
<script src="{% static 'js/candidate_data.js' %}"></script>
<style>
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }

  .line {
    width: 2px;
    height: 40px;
    background-color: var(--primary-color);
  }

  .flow-card {
    width: 350px;
    border: 1px solid #d9dee3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
</style>