{% load static %}

<div class="candidates-loader-wrapper" id="dashboard-loader">
    <div class="candidates-loader">
        <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" viewBox="0 0 512 512"><path fill="#274699" d="M496 384H64V80c0-8.8-7.2-16-16-16H16C7.2 64 0 71.2 0 80v336c0 17.7 14.3 32 32 32h464c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zM464 96H345.9c-21.4 0-32.1 25.9-17 41l32.4 32.4L288 242.8l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0l-68.7 68.7c-6.3 6.3-6.3 16.4 0 22.6l22.6 22.6c6.3 6.3 16.4 6.3 22.6 0L192 237.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0l96-96 32.4 32.4c15.1 15.1 41 4.4 41-17V112c0-8.8-7.2-16-16-16z"/></svg>
    </div>
</div>

{% for source_data in dashboard_data.sources_data %}
<div>
    <h5>{{ source_data.source_label }}</h5>
    <div class="col-lg-12 col-md-12 source-div">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6 mb-4">
                <div class="card h-100">
                    <span class="source-fs source-heading fw-semibold d-block" style="color: #8763ee;background-color: #efebfd;"><i class="fas fa-clipboard-check"></i> &nbsp; Screening</span>
                    <div class="card-body">
                        <h3 class="card-title mb-2">{{ source_data.screening_count }}</h3>
                        <small class="p-clr fw-semibold">{{ source_data.screening_efficiency_percentage }}%</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 mb-4">
                <div class="card h-100">
                    <span class="source-fs source-heading fw-semibold d-block" style="color: #00d462;background-color: #defaeb;"><i class="fas fa-code"></i> &nbsp; Coding</span>
                    <div class="card-body">
                        <h3 class="card-title text-nowrap mb-1">{{ source_data.coding_count }}</h3>
                        <small class="p-clr fw-semibold">{{ source_data.coding_efficiency_percentage }}%</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 mb-4">
                <div class="card h-100">
                    <span class="source-fs source-heading fw-semibold d-block" style="color: #1f68f3;background-color:#e2ebfd;"><i class="fas fa-chalkboard-teacher"></i> &nbsp;  Interview</span>
                    <div class="card-body">
                        <h3 class="card-title text-nowrap mb-1">{{ source_data.interview_count }}</h3>
                        <small class="p-clr fw-semibold">{{ source_data.interview_efficiency_percentage }}%</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 mb-4">
                <div class="card h-100">
                    <span class="source-fs source-heading fw-semibold d-block" style="color: #0d9488;background-color:#e0f7f9;"><i class="far fa-envelope"></i> Offered</span>
                    <div class="card-body">
                        <h3 class="card-title text-nowrap mb-1">{{ source_data.offered }}</h3>
                        <small class="p-clr fw-semibold"> </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="card mb-3">
    <div class="card-title-table">
        <h4 class="card-header">Registrations</h4>
    </div>
    <div class="line-chat-section">
        <canvas id="top-jds-bar-chart"></canvas>
    </div>
</div>

<div class="card mb-3">
    <div class="card-title-table">
        <h4 class="card-header"><iconify-icon icon="fe:line-chart" width="30" height="30" style="vertical-align: text-top;"></iconify-icon>&nbsp; Activity chart</h4>
    </div>
    <div class="line-chat-section">
        <canvas id="linechart"></canvas>
    </div>
</div>

<div class="card mb-3">
    <div class="card-title-table">
        <h4 class="card-header"><i class="fas fa-history"></i> &nbsp; Duration</h4>
    </div>
    <div style="padding: 1rem;">

        <div class="row">
            
            <div class="col-md-6 col-lg-4">
                <div class="card mb-3" style="border: 1px solid var(--screening-color);">
                    <div class="card-body">
                        <h4 class="card-title screening-clr"><i class="fas fa-clipboard-check"></i> &nbsp; Screening</h4>
                        <p class="card-text duration-content">Min : {{ dashboard_data.durations_data.screening_min }}</p>
                        <p class="card-text duration-content">Avg : {{ dashboard_data.durations_data.screening_avg }}</p>
                        <p class="card-text duration-content">Max : {{ dashboard_data.durations_data.screening_max }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mb-3"  style="border: 1px solid var(--coding-color);">
                  <div class="card-body">
                    <h4 class="card-title coding-clr"><i class="fas fa-code"></i> &nbsp; Coding</h4>
                    <p class="card-text duration-content">Min : {{ dashboard_data.durations_data.coding_min }}</p>
                    <p class="card-text duration-content">Avg : {{ dashboard_data.durations_data.coding_avg }}</p>
                    <p class="card-text duration-content">Max : {{ dashboard_data.durations_data.coding_max }}</p>
                  </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mb-3"  style="border: 1px solid var(--interview-color);">
                    <div class="card-body">
                    <h4 class="card-title interview-clr"><i class="fas fa-chalkboard-teacher"></i> &nbsp;  Interview</h4>
                    <p class="card-text duration-content">Min : {{ dashboard_data.durations_data.interview_min }}</p>
                    <p class="card-text duration-content">Avg : {{ dashboard_data.durations_data.interview_avg }}</p>
                    <p class="card-text duration-content">Max : {{ dashboard_data.durations_data.interview_max }}</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>



<div class="card mb-3">
    <div class="card-title-table">
        <h4 class="card-header"><i class="far fa-calendar-alt"></i> &nbsp; Lead time</h4>
    </div>
    <div style="padding: 1rem;">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card mb-3" style="border: 1px solid var(--screening-color);">
                    <div class="card-body">
                        <h4 class="card-title screening-clr"><i class="fas fa-clipboard-check"></i> &nbsp; Screening</h4>
                        <p class="card-text duration-content">Min : {{ dashboard_data.durations_data.screening_min_lt }}</p>
                        <p class="card-text duration-content">Avg : {{ dashboard_data.durations_data.screening_avg_lt }}</p>
                        <p class="card-text duration-content">Max : {{ dashboard_data.durations_data.screening_max_lt }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mb-3"  style="border: 1px solid var(--coding-color);">
                  <div class="card-body">
                    <h4 class="card-title coding-clr"><i class="fas fa-code"></i> &nbsp; Coding</h4>
                    <p class="card-text duration-content">Min : {{ dashboard_data.durations_data.coding_min_lt }}</p>
                    <p class="card-text duration-content">Avg : {{ dashboard_data.durations_data.coding_avg_lt }}</p>
                    <p class="card-text duration-content">Max : {{ dashboard_data.durations_data.coding_max_lt }}</p>
                  </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mb-3"  style="border: 1px solid var(--interview-color);">
                    <div class="card-body">
                    <h4 class="card-title interview-clr"><i class="fas fa-chalkboard-teacher"></i> &nbsp;  Interview</h4>
                    <p class="card-text duration-content">Min : {{ dashboard_data.durations_data.interview_min_lt }}</p>
                    <p class="card-text duration-content">Avg : {{ dashboard_data.durations_data.interview_avg_lt }}</p>
                    <p class="card-text duration-content">Max : {{ dashboard_data.durations_data.interview_max_lt }}</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<style>

    :root {
        --screening-color: #8763ee;
        --coding-color: #00d462;
        --interview-color: #1f68f3;
    }

    .screening-clr {
        color: var(--screening-color);
    }

    .screening-bgclr {
        background-color: #efebfd;
    }

    .coding-clr {
        color: var(--coding-color);
    }

    .coding-bgclr {
        background-color: #defaeb;
    }

    .interview-clr {
        color: var(--interview-color);
    }

    .interview-bgclr {
        background-color: #e2ebfd;
    }

    .line-chat-section {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .source-fs {
        font-size: 1.3rem;
    }

    .source-heading {
        border-radius: 8px 8px 0px 0px;
        text-align: center;
        padding: 5px;
    }

    .source-div .card-body {
        padding: 1rem;
        text-align: center;
    }

    .duration-content {
        font-weight: 600;
        font-size: 1.1rem;
    }

</style>
<script src="{% static 'js/dashboard.js' %}"></script>