{% load static %}

<div class="card">
    <div class="card-title-table">
        <h4 class="card-header">Interviewed Candidates</h4>
    </div>
    <div class="table-responsive text-nowrap table-cls">
        <table class="table table-hover" id="feedbacks-table">
            <thead>
                <tr>
                    <th> <strong> Candidate ID </strong></th>
                    <th> <strong> Name </strong></th>
                    <th> <strong> Email </strong></th>
                    <th> <strong> HR </strong></th>
                    <th> <strong> Interviewed by </strong></th>
                    <th> <strong> Feedback </strong></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for int_candidate in interviewed_candidates %}
                <tr onclick="window.location.href='/interviewer-feedback/{{int_candidate.cid}}'">
                    <td>{{ int_candidate.c_code }}</td>
                    <td>{{ int_candidate.c_name }}</td>
                    <td>{{ int_candidate.c_email }}</td>
                    <td>{{ int_candidate.hr }}</td>
                    <td>{{ int_candidate.interviewby }}</td>
                    <td>
                        {% if int_candidate.feedback == "Y" %}
                        <i class="fas fa-thumbs-up" style="color: green;"></i>&nbsp; <b>Hire</b>
                        {% elif int_candidate.feedback == "N" %}
                        <i class="fas fa-thumbs-up fa-flip-vertical" style="color: red;"></i>&nbsp; <b>Not Hire</b>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<style>
    tbody tr:hover {
        cursor: pointer;
    }
</style>

<script>
    $(document).ready(function() {
        $.noConflict();
        $('#feedbacks-table').DataTable({
            "pageLength": 50,      // Forces 50 rows
            "lengthMenu": [10, 25, 50 , 100],
            "order": [],
            "ordering": false,
            language: { search: "",searchPlaceholder: "Search..." } ,
            pagingType: 'simple_numbers'
        });
    });
</script>


