{% load static %}

<div class="card">
    <div class="card-title-table">
        <h4 class="card-header">Schedule interview for {{candidate_data.c_name}}</h4>
    </div>
    <div class="card-body">
        <form id="candidate-data">
            <div class="row mb-1">
                <label class="col-sm-2 col-form-label">Interviewer</label>
                <span id="cid" hidden>{{candidate_data.cid}}</span>
                <div class="col-sm-6">
                    <select class="form-select" id="interviewer" required>
                        <option selected="" disabled></option>
                        {% for interviewer in interviewers %}
                        <option value="{{ interviewer.id }}">{{ interviewer.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <label class="col-sm-6 col-form-label">{{candidate_data.c_email}}</label>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-sm-2 col-form-label">Mobile No</label>
                <div class="col-sm-10">
                    <label class="col-sm-6 col-form-label">{{candidate_data.c_mobile}}</label>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Special Instructions (Optional)</label>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="Instructions for Interviewer "
                        id="instructions" rows="3"></textarea>
                </div>
            </div>
            <div class="table-responsive p-0 pb-1 mb-4" style="overflow-x: auto;overflow-y: auto;">
                <table class="table align-items-center mb-0" id="call_schedule_table">
                    <thead>
                        <tr id="thead">
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
            <div class="button-row d-flex mb-3" style="justify-content: right;width: 75%;float:right;">
                <h6 class="mt-2 mr-2" id="sel_slot" style="margin-right: 13px;" hidden></h6>
                <!-- <button class="btn bg-gradient-dark  mb-0 btn_width btn-cancel"
                    id="cancel_btn">Cancel</button>&ensp; -->
                <button class="btn bg-gradient-dark  mb-0 js-btn-next btn-primary"
                    id="schedule_btn">Send Invite</button>
            </div>
        </form>
    </div>
</div>


<style>
    tbody tr:hover {
        cursor: pointer;
    }
</style>
<script src="{% static 'js/interview_schedule.js' %}"></script>

<script>
    $(document).ready(function () {
        $.noConflict();
        $('#candidates-table').DataTable({
            "order": [],
            "ordering": false,
            language: { search: "", searchPlaceholder: "Search..." },
            pagingType: 'simple_numbers'
        });
    });
</script>

<style>
    .Blocked {
        pointer-events: none;
        background-color: #9b9b9c !important;
        cursor: not-allowed !important;
        border: 1px solid white !important;
    }

    .Holiday {
        pointer-events: none;
        background-color: #3d3d3d !important;
        cursor: not-allowed !important;
        border: 1px solid white !important;
    }

    .No_Vacancy {
        pointer-events: none;
        border: 1px solid white !important;
        background-color: var(--primary-color) !important;
        cursor: not-allowed !important;
    }

    .data-center {
        text-align: -webkit-center;
    }

    .selected_ {
        background-color: var(--light-primary-color) !important;
        border: solid var(--primary-color) !important;
        text-align: -webkit-center;
    }

    td[name="Available"] {
        cursor: pointer;
    }
</style>