{% load static %}
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-custom-icon">
    <li class="breadcrumb-item">
      <a href="/job-descriptions">Job Descriptions</a>
      <i class="breadcrumb-icon icon-base bx bx-chevron-right align-middle"></i>
    </li>
    <li class="breadcrumb-item active">
      Job Description Reports
    </li>
  </ol>
</nav>
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme w-100" id="layout-navbar">

    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>
    <div id="display_icon" style="display:block;cursor:pointer" onclick='showFullPage()'><i class="bx bx-menu bx-sm"></i></div>
    <div id="hide_icon" style="display:none;cursor:pointer" onclick='hideFullPage()'><i class="bx bx-menu bx-sm"></i></div>
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <h3 class="course_title_heading" style="margin: 0px;"> {{jd_data.title}} </h3>
    </div>
    
</nav>

<div class="d-flex justify-content-end mt-3">
    <label class="form-check-label">Display in dashboard &nbsp;</label>
    <div class="form-check form-switch mb-2">
        <input class="form-check-input cursor-pointer" type="checkbox" id="dashboard-display" {% if jd_data.display_flag == "Y" %} checked {% else %} {% endif %}>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xl-6" >
        <div class="mt-2">
            <div class="image-container">
                <div id="funnelChartContainer" style="height: 500px; width: 80%;padding: 0;"></div>
                <div id="noCandidatesMessage" class="no-candidates-message" style="display:none;">
                    No Candidates Registered
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-6">
        <div class="row mt-2 text-center  animate__animated animate__zoomIn">
            <div class="col-md-4 col-xl-4">
                <div class="card text-white mb-3" style="background-color: #17b0e3;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Screened</h5>
                        <h5 class="card-title text-white mb-0">(Pending)</h5>
                        <p class="card-text num-txt">{{jd_data.screening_pending}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <div class="card text-white mb-3" style="background-color: #17b0e3;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Screened</h5>
                        <h5 class="card-title text-white mb-0">(Dropped)</h5>
                        <p class="card-text num-txt">{{jd_data.screening_fail}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <div class="card text-white mb-3" style="background-color: #17b0e3;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Screened</h5>
                        <h5 class="card-title text-white mb-0">(Promoted)</h5>
                        <p class="card-text num-txt">{{jd_data.screening_pass}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <div class="card text-white mb-3" style="background-color: #3bc482;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Coding</h5>
                        <h5 class="card-title text-white mb-0">(Pending)</h5>
                        <p class="card-text num-txt">{{jd_data.coding_pending}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <div class="card text-white mb-3" style="background-color: #3bc482;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Coding</h5>
                        <h5 class="card-title text-white mb-0">(Dropped)</h5>
                        <p class="card-text num-txt">{{jd_data.coding_fail}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <div class="card text-white mb-3" style="background-color: #3bc482;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Coding</h5>
                        <h5 class="card-title text-white mb-0">(Promoted)</h5>
                        <p class="card-text num-txt">{{jd_data.coding_pass}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <div class="card text-white mb-3" style="background-color: #e3cd09;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Interview</h5>
                        <p class="card-text num-txt">{{jd_data.interview_pending}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <div class="card text-white mb-3" style="background-color: red;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Rejected</h5>
                        <p class="card-text num-txt">{{jd_data.rejected}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <div class="card text-white mb-3" style="background-color: #93c131;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Offer Letter</h5>
                        <p class="card-text num-txt">{{jd_data.offer_letters}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="table-responsive text-nowrap table-cls">
        <table class="table table-hover" id="jd-candidate-data">
            <thead>
                <tr>
                    <th> <strong> Candidate ID </strong></th>
                    <th> <strong> Name </strong></th>
                    <th> <strong> Email </strong></th>
                    <th> <strong> Screened on </strong></th>
                    <th> <strong> Promote </strong></th>
                    <th> <strong> Code Test </strong></th>
                    <th> <strong> Promote </strong></th>
                    <th> <strong> Interview </strong></th>
                    <th> <strong> Promote </strong></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for candidate in candidates_data %}
                    <tr onclick="getReportData('{{candidate.cid}}')">
                        <td> {{ candidate.cid }} </td>
                        <td> {{ candidate.name }} </td>
                        <td> {{ candidate.email }} </td>
                        <td>
                            {% for reg in candidate.registrations.S %}
                                {{ reg.date }}<br>
                            {% endfor %}
                        </td>
                        <td style="text-align: center;">
                            {% for reg in candidate.registrations.S %}
                                {% if reg.status == 'P' %}
                                    <i class="fas fa-check" style="color: #4CAF50;"></i>
                                {% elif reg.status == 'F' %}
                                    <i class="fas fa-times" style="color: #f44336;"></i>
                                {% else %}
                                    <i class="fas fa-hourglass-half" style="color: var(--secondary-color);"></i>
                                {% endif %}    
                                <br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for reg in candidate.registrations.E %}
                                {{ reg.date }}<br>
                            {% endfor %}
                        </td>
                        <td style="text-align: center;">
                            {% for reg in candidate.registrations.E %}
                                {% if reg.status == 'P' %}
                                    <i class="fas fa-check" style="color: #4CAF50;"></i>
                                {% elif reg.status == 'F' %}
                                    <i class="fas fa-times" style="color: #f44336;"></i>
                                {% else %}
                                    <i class="fas fa-hourglass-half" style="color: var(--secondary-color);"></i>
                                {% endif %}    
                                <br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for reg in candidate.registrations.I %}
                                {{ reg.date }}<br>
                            {% endfor %}
                        </td>
                        <td style="text-align: center;">
                            {% for reg in candidate.registrations.I %}
                                {% if reg.status == 'O' %}
                                    <i class="fas fa-check" style="color: #4CAF50;"></i>
                                {% elif reg.status == 'R' %}
                                    <i class="fas fa-times" style="color: #f44336;"></i>
                                {% else %}
                                    <i class="fas fa-hourglass-half" style="color: var(--secondary-color);"></i>
                                {% endif %}    
                                <br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    
</script>

<style>

    tbody tr:hover {
        cursor: pointer;
    }

    thead, tbody, tfoot, tr, td, th {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }

    .table-bordered > :not(caption) > * > * {
        border-width: 1px 1px;
    }

    /* .image-container {
        position: relative;
        display: inline-block;
    } */

    /* .positioned-number {
        position: absolute;
        color: white;
        font-size: 20px;
    }


    .positioned-number:nth-of-type(1) {
        top: 20%;
        left: 33%;
    }

    .positioned-number:nth-of-type(2) {
        top: 40%;
        left: 33%;
    }

    .positioned-number:nth-of-type(3) {
        top: 60%;
        left: 33%;
    }

    .positioned-number:nth-of-type(4) {
        top: 80%;
        left: 33%;
    } */

    #funnelChartContainer .canvasjs-chart-credit {
    display: none !important;
    }
    .no-candidates-message {
      text-align: center;
      font-size: 20px;
      color: #333;
      padding-top: 20px;
    }

</style>
<script>
    screening_count = {{jd_data.screening_tests}};
    coding_count = {{jd_data.coding_tests}};
    interview_count = {{jd_data.interviews}};
    offer_count = {{jd_data.offer_letters}};
    var jobId = {{jd_data.jobid}};
</script>
<script src="{% static 'js/jd_data.js' %}"></script>

<script>
    $(document).ready(function() {
        $.noConflict();
        $('#jd-candidate-data').DataTable(
            {
                "ordering": false,
                pageLength: 50
            }
        );
    });
</script>
