{% load static  %}
<div class="card container-custm-height" >
    <div class="card-title-table">
        <h4 class="card-header">Job Descriptions</h4>
        <div class="p-3 text-align-right d-flex align-items-center justify-content-center">
            <!-- <input id="searchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" onkeyup="searchCandidate()" style="width: 300px;"> -->
            <a href="/add-job-description">
              <button class="btn btn-primary m-0" style="padding: 0.3375rem 1rem;"> <i class="fas fa-plus"></i> &nbsp; New JD</button>
            </a>
        </div>
    </div>
    <div class="row p-3">

      <!-- <div class="c-card col-sm" style="max-width: max-content;">
        <a href="/add-job-description">
          <div class="card mb-3 new_jd_card_border">
            <i class="fas fa-plus custm_icon_new_jd" style="color: var(--primary-color);"></i> 
            <div class="new_jd_txt">New JD</div>
          </div>
        </a>
      </div> -->

      {% for jd in allJds %}
      <div class="col-md-6 col-lg-4 c-card">
        <div class="card mb-3 shadow jd_card_border jd_card_cust"  onclick="window.location.href='/update-job-description/{{ jd.id }}'" style="cursor: pointer;">
          <div>
            <div class="card-body int-card-bd pb-0" style="padding: 0.8rem 1rem;">
              <div class="jd_card_wdth_cust">
                <h5 class="card-title p-clr mb-1" style="height: 2.6rem; overflow: hidden;text-overflow: ellipsis; ">{{ jd.title }}</h5>
                <div class="d-flex justify-content-between">
                  <div class="custm_created_by_userName" style="display: flex; justify-content: start; align-items: center;"> <i class='bx bx-user-circle m-0'></i> &nbsp; {{ jd.createdbyUserName }}</div>
                  <!-- <button type="button" class="btn btn-outline-info">Info</button> -->
                  <div style="color: gray;">Exp : {{ jd.expmin }} - {{ jd.expmax }} Yrs</div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card-footer d-flex justify-content-between mt-auto pt-0" style="padding: 0.8rem 1rem;
">
            <button type="button" class="btn btn-icon btn-sm" onclick="event.stopPropagation();redirectToJobDashboard('{{ jd.id }}')" style=" width: calc(1.625rem + 10px); background-color: var(--secondary-color);box-shadow: 0 0.25rem 1rem rgba(161, 172, 184, 0.45) !important;">
              <!-- <i class="fas fa-chart-line"></i> -->
              <!-- <i class='bx bx-bar-chart-alt'></i> -->
              <!-- <i class='bx bx-bar-chart'></i> -->
              <i class='bx bxs-bar-chart-alt-2' style="color: white;"></i>
            </button>
            <button onclick="event.stopPropagation();redirectToJobDetails('{{ jd.id }}')" type="button" class="btn btn-sm" style="font-weight: 700;letter-spacing: 0.4px; background-color: var(--secondary-color); color: white; box-shadow: 0 0.25rem 1rem rgba(161, 172, 184, 0.45) !important;">
                Setup
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>  
</div>

<style>
  .jd_card_border{
    border: 0.8px solid #b5b2b261;
    border-radius: 10px;
  }

  .new_jd_card_border{
    border: 2.5px dashed #9abedd;
    border-radius: 10px;
    height: 165px;
    /* background-color: #f5f5f9; */
    background-color: #ffff;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .custm_icon_new_jd{
    font-size: 28px;
    color: gray;
  }
  .new_jd_txt{
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 700;
  }
  /* .text_size_custm{
    font-size: clamp(lrem, 0.3043rem + 3.4783vw, 3rem);
  } */
   .jd_card_cust{
    height: 150px;
   }
   .jd_card_descrip_cust{
    color: gray;
    height: 4.6rem;
    overflow: hidden;
   }
   .js_exp_details_conta{
    width: 100%;
   }
   .jd_card_wdth_cust{
    width: 100%;
   }
   .custm_created_by_userName{
    border-radius: 5px;
    padding: 3px 5px;
    color: gray;
    padding-left: 0px;
   }
   .container-custm-height{
    height: 90vh;
   }
</style>
<script>
  function redirectToJobDetails(redirectId) {
    window.location.href = '/job-description-set-up/'+redirectId;
  }
  function redirectToJobDashboard(jid){
    window.location.href = '/jd/'+jid;
  }
</script>