{% load static %}

<!-- <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
    <div class="container">

        <a class="navbar-brand" ><img src="{% static 'img/logos/logo-no-background.svg' %}" alt="logo" class="hireline-logo"></a>

        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ms-auto navbar-nav-scroll">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/#header">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#details">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#pricing">Pricing</a>
                </li>
            </ul>
            <span class="nav-item">
                <a class="btn-outline-sm" href="/login">Log in</a>
            </span>
        </div> 
    </div> 
</nav>  -->


<header id="header" class="header login-header">
    <div class="login-sec">
        <div class="web-landing-content-lg">
            <div class="text-container">
                <!-- <div class="req-access"><h3>
                    Request for early access
                </h3></div> -->
                <div class="form-div">
                    <div class="detiails-sec">
                        <div class="form-card-heading">
                            <h4>Sign in to your Hirelines account
                            </h4>
                        </div>
                        <form id="login-form">
                            <div class="mb-4 form-floating">
                                <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                                <label>Email address</label>
                            </div>
                            <div class="mb-4 form-floating">
                                <input type="password" class="form-control" id="password" placeholder="Password" required>
                                <label>Password</label>
                            </div>
                            <!-- <p class="mb-4">  <a href=""> Forgot password? </a> </p> -->
                             <div id="invalid_cred" hidden>
                                <p style="color: red;">Invalid Credentials</p>
                             </div>
                            <button type="submit" id="login-btn" class="form-control-submit-button">Sign in</button>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div> 
</header>


<script src="{% static 'js/login.js' %}"></script>