{% load static %}

<link rel="stylesheet" href="{% static 'lib/portal/css/profile.css' %}" />

<div class="card br-0">
    <div class="card-title-table br-0">
        <h4 class="card-header">Profiles</h4>

        <h4 class="header-btn">
            <!-- <button class="btn btn-primary" onclick="window.location.href='/add-profile'" type="button">
                <i class="fas fa-user-plus"></i>&nbsp; Add Profile
            </button> -->
        </h4>
    </div>

    <!-- FILTERS -->
    <div class="table-responsive text-nowrap table-cls" style="padding:20px;">
        <div class="filters-row">


        
        <div class="filter-icon-col">
            <span class="filter-icon"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Filters">
                <svg xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    viewBox="0 0 24 24"
                    aria-hidden="true">
                    <path fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-width="2"
                        d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z"/>
                </svg>
            </span>
        </div>


        <div class="filter-wrapper">

            <div class="filter-col">
                <label>Title</label>
                <input type="text" id="filter_title" class="form-control">
            </div>

            <div class="filter-col">
                <label>Experience</label>
                <input type="text" id="filter_exp" class="form-control">
            </div>

            <div class="filter-col">
                <label class="short-label">To</label>
                <input type="text" id="filter_to_1" class="form-control">
            </div>
<!-- 
            <div class="filter-col">
                <label>Source</label>
                <input type="text" id="filter_source" class="form-control">
            </div> -->
           <div class="filter-col">
                <label>Source</label>
                <select class="form-select" id="filter_source">
                    <option value=""></option>  <!-- default option -->

                    {% for S in source_list %}
                        <option value="{{ S.id }}">{{ S.label }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter-col">
                <label>Skills</label>
                <input type="text" id="filter_skills" class="form-control">
            </div>
            <div class="filter-col">
                <label>Applied On</label>
                <input type="date" id="filter_apl" class="form-control">
            </div>

            <div class="filter-col">
                <label class="short-label">To</label>
                <input type="date" id="filter_to_2" class="form-control">
            </div>

            <div class="filter-col">
                <label>Status</label>
                <select class="form-select" id="begin-from">
                    <option value="">All</option>
                    <option value="D">Draft</option>
                    <option value="R">Ready</option>
                    <option value="I">Process</option>
                    <option value="H">Hired</option>
                    <option value="E">Rejected</option>
                </select>                
            </div>
             <div class="filter-col">
                <label>Strength</label>
                <input type="number" id="filter_strength"
                       class="form-control"
                       min="0" max="100">
            </div>
            <div class="filter-col">
                                <label></label>

            </div>
            <div class="filter-col">
                                                <label></label>

            </div>

             <div class="filter-actions" style="display:none;">
            <button class="btn btn-secondary" id="clearFilters">Clear</button>
            <button class="btn btn-primary" id="applyFilters">Apply</button>
            </div>

            

        </div>
        <!-- END GRID -->

        <!-- FILTER BUTTONS -->
        <div class="filter-actions">
            <button class="btn btn-secondary" id="clearFilters">Clear</button>
            <button class="btn btn-primary" id="applyFilters">Apply</button>
        </div>

        </div>
        <!-- TABLE -->
        
        <table class="table table-hover" id="profiles-table">
            <thead>
                <tr>
                    <th style="width: 180px;">Date</th>
                    <th>Source</th>
                    <th>Profile Code</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Experience</th>
                    <th>Strength</th>
                    <th>Status</th>
                    <th>Tags</th>

                </tr>
            </thead>

            <tbody class="table-border-bottom-0">
                {% for p in profile_details %}
                <tr onclick="window.location.href='/profileview/{{p.id}}'">
                    <td style="width: 180px;">{{ p.formatted_date }}</td>
                    <td>{{ p.source_code }}</td>
                    <td>{{ p.profilecode|default:"" }}</td>
                    <td>{{ p.firstname|default:"" }} {{ p.lastname|default:"" }}</td>
                    <td>{{ p.title|default:"" }}</td>
                    <td>{{ p.final_experience }}</td>
                    <!-- <td>{{ p.profilestrength }}%</td>
                    <td>{{ p.status_text }}</td> -->
                    <td>
                        <div class="strength-wrap">
                            <div class="bar 
                                {% if p.profilestrength >= 70 %} green
                                {% elif p.profilestrength >= 40 %} orange
                                {% else %} red
                                {% endif %}
                            " style="--w:{{p.profilestrength}}%;">
                                <span></span>
                            </div>
                            <span class="percent">{{ p.profilestrength }}%</span>
                        </div>
                    </td>
                    <td>
                        <span class="pill 
                            {% if p.status_text == 'Draft' %} draft
                            {% elif p.status_text == 'Ready' %} ready
                            {% elif p.status_text == 'Hired' %} hired
                            {% elif p.status_text == 'Rejected' %} rejected
                            {% elif p.status_text == 'Process' %} process
                            {% else %} draft
                            {% endif %}
                        ">
                            {{ p.status_text }}
                        </span>
                    </td>
                    <td>
                        {{ p.profile_tags|join:"," }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>


<script src="{% static 'js/profiles.js' %}"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const filterIcon = document.querySelector(".filter-icon"); 
    const filterWrapper = document.querySelector(".filter-wrapper");
    const filterActions = document.querySelector(".filter-actions");

    filterIcon.addEventListener("click", function () {
        const isHidden = filterWrapper.style.display === "none" || filterWrapper.style.display === "";

        if (isHidden) {
            filterWrapper.style.display = "grid";
            filterActions.style.display = "block";
        } else {
            filterWrapper.style.display = "none";
            filterActions.style.display = "none";
        }
    });
});
</script>
