{% load static %}

<style>
    .container {
        max-width: 1100px;
        margin: 32px auto;
        padding: 20px;
        display: flex;
        gap: 18px;
    }

    .content {
        flex: 1;
    }



    .tabsContainer {
        height: 50px;
        border-radius: 0.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 12px;
    }


    .custm-tab {
        height: min-content;
        border: 0.9px solid lightgray;
        border-radius: 0.5rem;
        padding: 0.3rem 0.5rem;
        cursor: pointer;
        width: 107px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
    }

    .activeTab {
        background-color: var(--light-primary-color);
        font-weight: 700;
    }




    @media (max-width:980px) {
        .container {
            padding: 14px
        }


    }

    @media (max-width:620px) {
        .tabsContainer {
            width: 100%
        }
    }

    
    .table,
    .table td,
    .table th {
        border: none !important;
    }

    .table tbody tr {
        border: none !important;
    }

    .table-responsive {
        border: none !important;
    }
    .display-none{
        display: none;
    }
    
</style>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-custom-icon">
    <li class="breadcrumb-item">
      <a href="/profiles">Profiles</a>
      <i class="breadcrumb-icon icon-base bx bx-chevron-right align-middle"></i>
    </li>
    <li class="breadcrumb-item">
      <a href="/profileview/{{profileid}}">Profileview</a>
      <i class="breadcrumb-icon icon-base bx bx-chevron-right align-middle"></i>
    </li>
    <li class="breadcrumb-item active">
      profileactivity
    </li>
  </ol>
</nav>

<div class="container">
    <div class="left-gap" aria-hidden="true"></div>
   
    <main class="content">
        <div class="card">
            <div class="card-title-table">
            <h4 class="card-header">
                Profile {{ activity_details.0.jobtitle }} {{ activity_details.0.firstname }} {{ activity_details.0.lastname }}
            </h4>
            </div>
            <div class="card-body">
              
                <div class="tabsContainer">
                   
                        <div class="tabsContainer">
                        <span id="active" class="custm-tab p-clr"
                            onclick="tabSwitch(this.id)">Profile</span>
                        <span id="Inactive" class="custm-tab p-clr activeTab shadow" onclick="tabSwitch(this.id)">Activity</span>
                        </div>
                       
                         <div class="tabsContainer"style="flex-direction: row-reverse;">
                        
                         {% if email_exist == "N" %}
                         <button class="btn btn-primary" id="sendWelcome" onclick="sendWelcomeMail()"><i class="menu-icon tf-icons fas fa-envelope"></i> Send Welcome Message</button>
                         {% endif %}
                        <button class="btn btn-primary" id="addActivity"  onclick="tabSwitch(this.id)"><i class="fas fa-user-plus"></i> Add activity</button>
                        </div>
                    <!-- </div> -->
                </div>
                <div class="table-responsive text-nowrap table-cls" style="padding:20px">
                    <table class="table table-hover dataTable no-footer" id="activity_details_table">
                        <thead>
                            <tr>
                                <th> <strong>Date & Time </strong></th>
                                <th> <strong>Activity Name </strong></th>
                                <th> <strong>User Name </strong></th>
                            </tr>
                        </thead>

                        <tbody class="table-border-bottom-0">
                            {% for act in activity_details %}
                            <tr>
                                <td>
                                    {{ act.datentime }}
                                </td>
                        
                                <td>
                                    {{ act.activity_text|default:act.activityname }}
                                    {% if act.activityremarks %} remarks
                                    — {{ act.activityremarks }}
                                    {% endif %}
                                </td>
                        
                                <td>
                                    {{ act.activityusername }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                    <div class="add-activity display-none">  
                  
                        <form id="add-activity-details" class="mt-3">
                            {% csrf_token %}

                           
                            <div class="mb-3">
                                <label class="form-label">Activity Name</label>
                                <select name="activityname" class="form-select" required>
                                    <option value="">Select Activity</option>
                                    {% for name in activity_names %}
                                    <option value="{{ name }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>


                            <div class="mb-3">
                                <label class="form-label">Remarks</label>
                                <textarea rows="3" class="form-control" name="remarks" ></textarea>
                            </div>


                            <button id="save-activity" type="submit" class="btn btn-primary">Save Activity</button>
                            
                        </form>
                    </div>  

                </div>

            </div>
    </main>
</div>
<script src="{% static 'js/profileactivity.js' %}"></script>
<!-- <script>

function getPidFromUrl() {
    const parts = window.location.pathname.split("/");
    return parts[parts.length - 1];   
}

function tabSwitch(element) {

    const pid = getPidFromUrl();  

    if (element === 'active') {
        $('#active').addClass('activeTab shadow');
        $('#Inactive').removeClass('activeTab shadow');
        window.location.href = "/profileview/" + pid;
    }

    if (element === 'Inactive') {
        $('#Inactive').addClass('activeTab shadow');
        $('#active').removeClass('activeTab shadow');
        window.location.href = "/profileactivity/" + pid;
    }

    if (element === 'addActivity') {
        
        $('#Inactive').removeClass('activeTab shadow');
        $('#activity_details_table').addClass('display-none');
        $('.add-activity').removeClass('display-none');
    

    }

    // if (element === 'sendWelcome') {

    //     window.location.href = "/profileactivity/" + pid;


    // }
   

}
$("#add-activity-details").submit(function (e) {
    e.preventDefault();

    const pid = getPidFromUrl();  // You already have this function

    let activityname = $("select[name='activityname']").val();
    let remarks = $("textarea[name='remarks']").val();
   

    // Prepare inner object
    let dataObj = {
        "activityname": activityname,
        "remarks": remarks,
        "profile_id": pid
    };

    // Prepare final POST object
    let final_data = {
        "data": JSON.stringify(dataObj),
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
    };

    console.log("final_data", final_data);

    
    $.post(CONFIG['portal'] + "/api/add-profile-activity", final_data)
        .done(function (res) {
            Swal.fire({
                title: "Saved Successfully!",
                icon: "success",
                timer: 1500,
                showConfirmButton: false
            });

            setTimeout(() => {
                window.location.href = "/profileactivity/" + pid;
            }, 1000);
        })
        .fail(function (err) {
            Swal.fire({
                title: "Error!",
                text: "Something went wrong while saving.",
                icon: "error",
                confirmButtonText: "OK"
            });
        });
});
</script>
<script>
function sendWelcomeMail() {
    const pid = getPidFromUrl(); 

    let final_data = {
        profile_id: pid,
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
    };

    $.post(CONFIG['portal'] + "/api/send-welcome-mail", final_data)
        .done(function (res) {
            console.log(res)
            if (res.statusCode === 0) {
                Swal.fire({
                    icon: "success",
                    title: "Welcome Mail Sent!",
                    timer: 1500,
                    showConfirmButton: false
                });
                
                window.location.reload()
            } else {
                Swal.fire({
                    icon: "error",
                    title: "Failed!",
                    text: res.error || "Unable to send email."
                });
            }
        })
        .fail(function () {
            Swal.fire({
                icon: "error",
                title: "Server Error",
                text: "Unable to send email"
            });
        });
}
</script> -->
