{% load static %}
<div class="container-center">
    <div class="col-12">
        <div class="card mb-4" style="background-color:#f9f5f5;">
            <div class="card-title-table">
                <h4 class="card-header">Reports</h4>
            </div>
            <div class="p-3">
                <div class="row" style="padding-bottom: 0% !important;justify-content: normal;">
                    <div class="col-xl-4 col-sm-6">
                        <div class="card cursor-pointer" onclick="window.location.href='/credits-usage-report'">
                            <div class="card-header p-3">
                                <div class="text-center">
                                    <h5 class="mb-0"><i class="fas fa-coins fa-lg"></i>&ensp;Credits Usage</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="card cursor-pointer" onclick="window.location.href='/recruiters-performance-report'">
                            <div class="card-header p-3">
                                <div class="text-center">
                                    <h5 class="mb-0"> <i class="fas fa-file-alt"></i>&nbsp;Recruiters Performance Report</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

