{% load static %}

<link rel="stylesheet" href="{% static 'lib/portal/css/resume_inbox.css' %}" />

<div class="container-center">
    <div class="w-100">
        <div class="card mb-4 br-0">
            <div class="card-title-table br-0">
                <h4 class="card-header">Resume Inbox</h4>
                <div>
                    <i class='bx bx-info-circle'data-bs-toggle="tooltip" data-bs-offset="0,6" data-bs-placement="left" data-bs-html="true" style="font-size: 25px;color: var(--primary-color);cursor: pointer;"
                        data-bs-original-title="<span>Resumes will sync every hour</span>"></i> &nbsp;
                    <button class="btn btn-primary" id="sync-btn"><i class="fas fa-sync-alt"></i> &nbsp; Sync with email </button> &nbsp;&nbsp;
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalScrollable"><i class="fas fa-file-alt"></i> &nbsp; Add Resume</button>&nbsp;&nbsp;
                </div>
            </div>

            {% if user_data.role == "HR-Admin" %}
                <div class="sources-layout">
                    <div class="sources-ctn">
                        {% for source in sources_data %}
                            <div class="sources-item" data-sourceid="{{ source.id }}"><span>{{ source.label }}</span></div>
                        {%  endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="d-flex">
                <div class="table-ctn">
                    <div class="table-responsive text-nowrap table-cls pt-0">
                        <table class="table table-hover" id="resume-table">
                            <thead>
                                <tr>
                                    <th>Source </th>
                                    <th>Name </th>
                                    <th>Date </th>
                                    <th>Status </th>
                                    <th>Tags</th><!-- ADD THIS -->

                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                {% for resume_data in resumes_data %}
                                    <tr class="resume-row" data-id="{{ resume_data.id }}" data-status="{{ resume_data.status }}" style="cursor: pointer;">
                                        <td> {{ resume_data.source }} </td>
                                        <td> {{ resume_data.name }} </td>
                                        <td> {{ resume_data.date }} </td>
                                        {% if resume_data.status == "P" %}
                                            <td>Review Pending</td>
                                        {% elif resume_data.status == "A" %}
                                            <td>Added to Profile</td>
                                        {% elif resume_data.status == "D" %}
                                            <td>Deleted</td>
                                        {% else %}
                                            <td> - </td>
                                        {% endif %}
                                        <!-- <td style="display:none;">{{ resume_data.tags }}</td> -->
                                        <td style="display:none;">{{ resume_data.tags }}</td>
                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="resumePreview" class="w-50" style="display: none;">
                    <div class="d-flex justify-content-start mb-2" style="gap: 10px;">
                        <button class="btn btn-secondary btn-sm" id="close-resume-preview-btn"><i class="fas fa-times"></i></button>
                        <button class="btn btn-danger btn-sm" id="delete-resume-btn"><i class="fas fa-trash-alt"></i></button>
                        <button class="btn btn-primary btn-sm" id="add-profile-btn" style="margin-left: auto;"><i class="fas fa-user-plus"></i>&nbsp; Add to Profile</button>
                    </div>
                    <iframe
                        id="resumeIframe"
                        src=""
                        width="100%" 
                        height="500px"
                        style="border: none;">
                    </iframe>  
                    <br><br><br>
                    <!-- <div class="resume-tags-section">
                        <label class="form-label">Tags</label>
                        <input type="text" 
                            id="resume-tags-input" 
                            class="form-control" 
                            placeholder="Enter tags (e.g #RefferedbyGS #ImmediateJoinee  #FromStartup #FlexibleTime )" />
                    </div> -->
                    <div class="card-body">
                        
                        <div class=" mb-3">
                            <div class="col-sm-12 position-relative">
                                <div class="resume-tags-section">
                                    <label class="form-label">Tags</label>
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <div id="resume-tags" 
                                            </div>
                                        </div>
                                    </div>
                                    <br><br><br>
                                    <input type="text" id="resume-tags-input" class="form-control"
                                        placeholder="Enter tags separated by comma (e.g #RefferedbyGS ,#ImmediateJoinee , #FromStartup, #FlexibleTime )" />
                                    <small id="tag-info-msg"
                                        class="text-warning"
                                        style="display:none;">
                                        This tag is already added for this resume
                                    </small>
                                </div>
                                <div class="row mb-3">
                                        <div class="col-sm-12">
                                        Note : Enter tags separated by comma e.g RefferedbyGS ,ImmediateJoinee     
                                        </div>
                                </div>
                           </div>
                        </div>
                       
                        
                    </div>
                    <br><br>
                    <div class="row justify-content-end">
                        <div class="col-sm-10 text-end">
                            <button id="save-tagsdata" type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </div>
                
            </div>
            

        </div>

        <div class="modal fade" id="modalScrollable" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header wk-modal-header">
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                        <h5 class="modal-title p-clr" id="modalScrollableTitle">New Resume</h5>
                    </div>
                    <div class="modal-body">
                        <form id="addResumeForm">

                            <div class="row mb-3">
                                <label class="form-label">Upload Resume <span style="color: red;">*</span></label>
                                <div>

                                    <div class="upload-box" id="uploadBox" onclick="document.getElementById('resumeInput').click()" ondragover="dragOver(event)" 
                                        ondragleave="dragLeave(event)" 
                                        ondrop="dropFile(event)">

                                    <!-- Remove Icon (top-right) -->
                                    <div id="removeBtn" class="remove-btn" onclick="removeFile(event)"><i class="fas fa-times" style="color: #ff4d4d;"></i></div>

                                    <!-- Default text -->
                                        <div id="defaultText" class="upload-text">
                                            Upload Resume<br>
                                            <small style="font-size:13px;">(PDF or Word only)</small>
                                        </div>

                                        <!-- Preview inside box -->
                                        <div id="filePreview" class="file-preview">
                                            <img id="fileIcon" class="file-icon">
                                            <div id="fileName" class="file-name"></div>
                                        </div>

                                    </div>

                                    <input type="file" id="resumeInput" accept=".pdf,.doc,.docx" hidden>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col mb-3">
                                    <label class="form-label">Source <span style="color: red;">*</span></label>
                                    <select class="form-select" id="r-source" required>
                                        <option value="" selected disabled>Select Source</option>
                                        {% for source in sources_data %}
                                            <option value="{{ source.code }}">{{ source.code }} - {{ source.label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="addResumeBtn">Save</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $.noConflict();
        $('#resume-table').DataTable({
            "pageLength": 50,      // Forces 50 rows
            "lengthMenu": [10, 25, 50 , 100],
            "order": [],
            "ordering": true,
            // "lengthChange": false,
            columnDefs: [
                {
                    targets: 4,   
                    visible: false,
                    searchable: true   
                }
            ],
            language: { search: "",searchPlaceholder: "Search..." } ,
            pagingType: 'simple_numbers'
        });
    });
</script>

<script src="{% static 'js/resume_inbox.js' %}"></script>


<style>
    /* .credits-container {
        display: none;
    } */

    .btn-sm {
        font-size: 15px;
    }
    .tag-badge {
        display: inline-block;
        background-color: #f3f4f5;
        color: rgb(8, 8, 8);
        padding: 6px 10px;
        margin: 4px;
        border-radius: 20px;
        font-size: 20px;
    }

    .tag-badge .remove-tag {
        margin-left: 8px;
        cursor: pointer;
        font-weight: bold;
        color: red;
    }

</style>