{% load static %}


<!-- Header -->
<header id="header" class="header">
    
    <div class="landing-sec">
        <div class="landing-img">
            <img class="img-fluid" src="{% static 'lib/homePage/images/slide_final.gif' %}" alt="alternative">
        </div>
        <div class="web-landing-content">
            <div class="text-container slide-in-right">
                <!-- <div class="req-access"><h3>
                    Request for early access
                </h3></div> -->
                <div class="form-div">
                    <div class="detiails-sec">
                        <div class="form-card-heading">
                            <h4>Sign up now</h4>
                        </div>
                        <form id="registerForm" class="needs-validation" novalidate>
                            <div class="mb-4 form-floating">
                                <input type="email" class="form-control" id="reg-bemail" placeholder="name@example.com" required>
                                <label for="reg-bemail">Business Email</label>
                                <div class="invalid-feedback">
                                    Please enter email address.
                                </div>
                                <div class="domain-check">
                                    Business domain is required
                                </div>
                                <div class="existing-email">
                                    Email already registered
                                </div>
                            </div>
                            <div class="mb-4 form-floating">
                                <input type="text" class="form-control" id="reg-company" placeholder="Company" required>
                                <label for="reg-company">Company Name</label>
                                <div class="invalid-feedback">
                                    Please enter your company name.
                                </div>
                            </div>
                            <div class="form-floating mb-4">
                                <select id="reg-companytype" class="form-select" required>
                                    <option value="" selected disabled></option>
                                    {% for company_type in company_types %}
                                    <option value="{{ company_type }}">{{ company_type }}</option>
                                    {% endfor %}
                                </select>
                                <label for="reg-companytype">Company Type</label>
                                <div class="invalid-feedback">
                                    Please select company type.
                                </div>
                            </div>
                            <div class="mb-4 form-floating">
                                <input type="text" class="form-control" id="reg-name" placeholder="Name" required>
                                <label for="reg-name">Name</label>
                                <div class="invalid-feedback">
                                    Please enter your name.
                                </div>
                            </div>
                            <div class="mb-4 form-floating">
                                <input type="text" class="form-control" id="reg-location" placeholder="Location" required>
                                <label for="reg-location">Location</label>
                                <div class="invalid-feedback">
                                    Please enter your location.
                                </div>
                            </div>
                            <div class="error-sec mb-2" style="display: none;">
                                <span style="color:red">Something went wrong, Please try again after sometime...</span>
                            </div>
                            <div class="error-existing mb-2" style="display: none;">
                                <span style="color:red">Company already registered, Please contact your company HR/Administrator..</span>
                            </div>
                            <button type="submit" id="register" class="btn-solid-lg">Sign up</button>
                        </form>
                    </div>
                    <div class="success-sec">
                        <i class="fas fa-check-circle check-icon"></i>
                        <span>You are successfully signed up</span><br>
                        <span>Check your email for access details</span>
                    </div>
                    
                </div>
            </div> 
        </div>
    </div> <br><br>
</header>
<!-- end of header -->


<!-- Features -->
<div id="features" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Hirelines application is packed with <span>awesome features</span></h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                
                <!-- Card -->
                <div class="card">
                    <div class="card-icon">
                        <!-- <span class="fas fa-headphones-alt"></span> -->
                        <i class="fas fa-clipboard-check"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Screening Test</h4>
                        <p>Quickly filter applicants with targeted assessments that evaluate essential skills and qualifications</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-icon green">
                        <!-- <span class="far fa-clipboard"></span> -->
                        <i class="fas fa-code"></i>
                        <!-- <span>
                            <iconify-icon class="fas fa" icon="material-symbols:code-blocks-outline"></iconify-icon>
                        </span> -->
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Coding Test</h4>
                        <p> Measure programming expertise through real-world coding scenarios to ensure technical competence.</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-icon blue">
                        <!-- <span class="far fa-comments"></span> -->
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Online Interview</h4>
                        <p>Conduct interactive online interviews that provide a complete view of each candidate’s expertise, communication, and cultural fit</p>
                    </div>
                </div>
                <!-- end of card -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->





<!-- Details 2 -->
<div class="basic-2  bg-gray">
    <div class="container">
        <h2>Transform Recruitment with AI and Data-Driven Solutions</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container" style="text-align: center;">
                    <img class="img-fluid" src="{% static 'lib/homePage/images/process-no-label.svg' %}" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container">
                    <!-- <img class="img-fluid" src="{% static 'lib/homePage/images/ai.svg' %}" alt="alternative"> -->
                    <p>Unlock the power of intelligent automation and data-driven insights to streamline your recruitment process. Our AI-driven tools and comprehensive assessments help you hire the right talent faster and more efficiently.</p>
                    <ul class="list-unstyled li-space-lg" style="font-weight: 600;color: #274699;margin-top: 4rem;">
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">AI-Driven Efficiency</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Comprehensive Assessments</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Streamlined Video Interviews</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Data-Driven Decisions</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Improved Candidate Experience</div>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of details 2 -->

<section class="hero">
    <h1>Streamlining Your Recruitment Process with AI</h1>
    <p>Fast, Accurate, and Efficient Hiring for Software Development Companies</p>
    <a href="#header" class="btn-outline-lg page-scroll get-start-btn">Get Started Today</a>
</section>

<!-- Testimonials -->
<div class="slider-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Few words from our clients</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card Slider -->
                <div class="slider-container">
                    <div class="swiper-container card-slider">
                        <div class="swiper-wrapper">
                            
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="{% static 'lib/homePage/images/testimonial-1.jpg' %}" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">The ATS has streamlined our process, letting us manage applicants in one place and quickly focus on top talent!</p>
                                        <p class="testimonial-author">Jude Thorn</p>
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
    
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="{% static 'lib/homePage/images/testimonial-2.jpg' %}" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Scheduling interviews and following up are now so efficient; we stay connected with candidates effortlessly</p>
                                        <p class="testimonial-author">Roy Smith</p>
                                    </div>
                                </div>        
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
    
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="{% static 'lib/homePage/images/testimonial-3.jpg' %}" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">The built-in assessments have improved our screening process and made skills evaluation a breeze!</p>
                                        <p class="testimonial-author">Marsha Singer</p>
                                    </div>
                                </div>        
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
    
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="{% static 'lib/homePage/images/testimonial-4.jpg' %}" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Video interviews are easy to schedule and review, saving us valuable time.</p>
                                        <p class="testimonial-author">Tim Shaw</p>
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
    
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="{% static 'lib/homePage/images/testimonial-5.jpg' %}" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Effortless job posting across platforms has boosted our reach significantly!</p>
                                        <p class="testimonial-author">Lindsay Spice</p>
                                    </div>
                                </div>        
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
    
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="{% static 'lib/homePage/images/testimonial-6.jpg' %}" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Having structured interview guides and feedback tools saves us so much time.</p>
                                        <p class="testimonial-author">Ann Blake</p>
                                    </div>
                                </div>        
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
                        
                        </div> <!-- end of swiper-wrapper -->
    
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- end of add arrows -->
    
                    </div> <!-- end of swiper-container -->
                </div> <!-- end of slider-container -->
                <!-- end of card slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of testimonials -->


<!-- Details 1 -->
<div id="details" class="basic-1" style="background: url({% static 'lib/homePage/images/3409297.jpg' %}) no-repeat center center/cover;">
    <div class="container">
        <h2>Who We Are</h2>
        <div class="row">
            <!-- <div class="col-lg-6 col-xl-5"> -->
                <!-- <div class="text-container">
                    <h2>Manage your customer’s expectations and get them to trust you</h2>
                    <p>Vestibulum ullamcorper augue ex, imperdiet tincidunt tellus bibendum inconsectetur rutrum mauris orbi scelerisque cursus augue, ac suscipit sem mattis at ut suscipit</p>
                    <a class="btn-solid-reg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Modal</a>
                </div>  -->
                <div class="text-container" >
                    <p>
                        At <strong>HireLines</strong>, we are passionate about connecting top-tier software developers with dynamic companies.
                        Our team of experts combines deep industry knowledge with cutting-edge technology, creating a recruitment platform that enhances efficiency and effectiveness.
                      </p>
                      <p>
                        We aim to empower recruitment teams at software development companies by removing the barriers of traditional hiring methods.
                      </p>
                </div> 
            <!-- </div>  -->
            <!-- <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'lib/homePage/images/hwa1.svg' %}" alt="alternative">
                </div>
            </div> -->
        </div>
    </div>
</div>


<!-- Pricing -->
<div id="pricing" class="cards-2 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">How it Works?</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="htw-icons">
                            <i class="fas fa-clipboard-list"></i>
                        </div>
                        <div class="card-title">
                            <span>Create Your Job Post</span>
                        </div>
                        <ul class="list-unstyled li-space-lg">
                            <li>Customize your job descriptions with our guided templates to attract the right talent.</li>
                        </ul>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="htw-icons">
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="card-title">
                            <span>Assess and Screen</span>
                        </div>
                        <ul class="list-unstyled li-space-lg">
                            <li>Our platform facilitates automated assessments that gauge skills and fit, delivering instant results for your review.</li>
                        </ul>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="htw-icons">
                            <i class="fas fa-video"></i>
                        </div>
                        <div class="card-title">
                            <span>Interview and Hire</span>
                        </div>
                        <ul class="list-unstyled li-space-lg">
                            <li>Schedule and conduct video interviews seamlessly, ensuring that the best candidates stand out for your development needs.</li>
                        </ul>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of pricing -->



<!-- Questions -->
<!-- <div class="accordion-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Frequent questions</h2>
            </div> 
        </div> 
        <div class="row">
            <div class="col-lg-12">
                <div class="accordion" id="accordionExample">
                    
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How can I contact you quickly and get a reasonable quote more for my project?</button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">Sed lacinia cursus viverra. Nunc sed libero euismod, congue dui a, vulputate quam. Pellentesque neque nisi, ultrices ut ipsum ac, mattis sollicitudin neque. Ut ac nunc sem. Etiam id erat facilisis magna sagittis porta. Donec eu dolor eu dolor finibus sodales consectetur, et condimentum elit tincidunt</div>
                        </div>
                    </div>
                    

                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Is the Free Tier available for unlimited time or it will end more words after a while?</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">Mauris faucibus placerat nisl. Sed eros odio, posuere at felis quis, tincidunt facilisis nibh. Nulla in ante sem. Nam aliquam urna nisi, cursus semper dolor convallis at. Duis vulputate est in consectetur, et condimentum elit tincidunt libero consectetur, et condimentum suis vulputate est in libero</div>
                        </div>
                    </div>
                    

                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Can I use the app on mobile devices or it’s limited more words to desktop use?</button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">Nullam at diam at mi facilisis consectetur at non turpis. Proin a felis nisi. Sed at orci rutrum, tincidunt magna vel, pharetra libero. Proin mauris orci, faucibus eget malesuada vel, consectetur, et condimentum elit tincidunt pellentesque vitae ligula. Pellentesque euismod tincidun</div>
                        </div>
                    </div>
                    

                </div> 
            </div> 
        </div> 
    </div> 
</div>  -->
<!-- end of questions -->


<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-col first">
                    <h6>About Website</h6>
                    <p class="p-small">At <strong>HireLines</strong>, we are passionate about connecting top-tier software developers with dynamic companies. </p>
                </div> <!-- end of footer-col -->
                <div class="footer-col second">
                    <h6>Links</h6>
                    <ul class="list-unstyled li-space-lg p-small">
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div> <!-- end of footer-col -->
                <!-- <div class="footer-col third">
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-pinterest-p fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                    <p class="p-small">Quam posuerei pellent esque vam <a href="mailto:contact@site.com"><strong>contact@site.com</strong></a></p>
                </div> end of footer-col -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->  
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p class="p-small">Copyright © Hirelines.io</a></p>
            </div>
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright --> 
<!-- end of copyright -->

<script>
    (function () {
        'use strict';

        var forms = document.querySelectorAll('.needs-validation');

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
    })();
</script>

<script src="{% static 'js/homepage.js' %}"></script>